.container {
    @apply flex flex-col bg-gray-200 h-screen;
}

.content {
    @apply flex-grow;
}
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.backToHome {
    margin: 3rem 0 0;
}
